body{
    width: 100%;
    height: 100%;
}

header{
    clear: left;
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}

header ul{
    width: 100%;
}

header ul li{
    list-style: none;
    display: inline-block;
    text-align: left;
    width: 15%;
}

.left{
    float: left;
    width: 60%;
    height: auto;
}

.left h1{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-left: 4px red solid;
    background-color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    width: auto;
    font-size: 20px;
}

.left form{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
    width: auto;
}

.left form div{
    padding: 15px;
}

.left .text, textarea{
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}

.left .submit{
    border: 1px solid #dfdfdf;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: solid 2px gray;
}

.left .kiji{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.left h3{
    border-bottom: 2px solid #ebebeb;
}

.left .handlename{
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.right{
    float: left;
    width: 35%;
    height: auto;
    margin-left: 3%;
}

.right h2{
    border-bottom: 2px dotted black;
    margin-top: 30px;
}

.right ul li{
    list-style: none;
}

footer{
    font-size: 1px;
    clear: left;
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}